<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523556973432-3cqt1gc7ec6ddu4472cs07krvjf2rmc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523556973432-3cqt1gc7ec6ddu4472cs07krvjf2rmc9</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ0Vewcppw05PLcrAjGpBbrLWj6gIbXgk</string>
	<key>GCM_SENDER_ID</key>
	<string>523556973432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>flyingpigs.ReceiptRecordV3</string>
	<key>PROJECT_ID</key>
	<string>receipttrackerv3</string>
	<key>STORAGE_BUCKET</key>
	<string>receipttrackerv3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523556973432:ios:f85335ab4d00b1e368f68d</string>
</dict>
</plist>